In [1]:
# Assigning values to variables
age = 21
height = 5.9
name = "Alice"
is_student = False

# Printing the values
print("Age:", age)
print("Height:", height)
print("Name:", name)
print("Is Student:", is_student)

# Printing the data types of the variables
print("Type of age:", type(age))
print("Type of height:", type(height))
print("Type of name:", type(name))
print("Type of is_student:", type(is_student))

Age: 21
Height: 5.9
Name: Alice
Is Student: False
Type of age: <class 'int'>
Type of height: <class 'float'>
Type of name: <class 'str'>
Type of is_student: <class 'bool'>

In [2]:
# Assigning values to variables
x = 10
y = 3
a = 4.5
b = 2.5

# Performing operations on x and y
print("Sum of x and y:", x + y)
print("Difference of x and y:", x - y)
print("Product of x and y:", x * y)
print("Quotient of x and y:", x / y)

# Calculating and printing the average of a and b
average = (a + b) / 2
print("Average of a and b:", average)

Sum of x and y: 13
Difference of x and y: 7
Product of x and y: 30
Quotient of x and y: 3.3333333333333335
Average of a and b: 3.5

In [3]:
# Assigning values to variables
first_name = "John"
last_name = "Doe"

# Concatenating first_name and last_name with a space
full_name = first_name + " " + last_name
print("Full Name:", full_name)

# Printing the length of full_name
print("Length of Full Name:", len(full_name))

# Converting full_name to uppercase
upper_full_name = full_name.upper()
print("Full Name in Uppercase:", upper_full_name)

Full Name: John Doe
Length of Full Name: 8
Full Name in Uppercase: JOHN DOE

In [4]:
# Assigning values to variables
is_raining = True
is_sunny = False
temperature = 25

# Checking boolean expressions
print("Is it raining and not sunny?", is_raining and not is_sunny)
print("Is the temperature greater than 20 and sunny?", temperature > 20 and is_sunny)

Is it raining and not sunny? True
Is the temperature greater than 20 and sunny? False

In [5]:
# Integer to float
int_value = 42
float_value = float(int_value)
print("Integer to float:", float_value)

# Float to integer
float_value = 3.14
int_value = int(float_value)
print("Float to integer:", int_value)

# String to integer
string_value = "123"
int_value = int(string_value)
print("String to integer:", int_value)

# String to float
string_value = "123.45"
float_value = float(string_value)
print("String to float:", float_value)

Integer to float: 42.0
Float to integer: 3
String to integer: 123
String to float: 123.45

In [6]:
# Assigning different types of values to the variable var and printing their types
var = 42
print("Type of var (42):", type(var))

var = 3.14
print("Type of var (3.14):", type(var))

var = "Data Science"
print("Type of var (\"Data Science\"):", type(var))

var = False
print("Type of var (False):", type(var))

Type of var (42): <class 'int'>
Type of var (3.14): <class 'float'>
Type of var ("Data Science"): <class 'str'>
Type of var (False): <class 'bool'>

In [7]:
# Assigning values to variables
integer_value = 25
float_value = 3.14
string_value = "Hello, Python!"
boolean_value = True

# Printing the values
print("Integer Value:", integer_value)
print("Float Value:", float_value)
print("String Value:", string_value)
print("Boolean Value:", boolean_value)

Integer Value: 25
Float Value: 3.14
String Value: Hello, Python!
Boolean Value: True